django-appconf
Django>=1.10
djangorestframework
Sphinx
djangorestframework-jwt
django-oauth-toolkit
django-cors-headers
django-filter
django-silk
gunicorn
dj-database-url
whitenoise
psycopg2-binary
pipenv
django-request-logging
django-extensions
PyDotPlus
fortune
